* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(44,1,45);
    background: radial-gradient(circle, rgba(44,1,45,1) 0%, rgba(77,5,71,1) 100%);
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
  font-size: 62.5%;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

a, button {
  font-size: 1.6rem;
  color: #fff;
}

header {
  padding: 2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 10rem;
}

.container ul {
  display: flex;
  align-items: center;
  gap: 5.5rem
}

.container ul li, .contact {
  display: flex;
  align-items: center;
}

.container ul li .ativo {
  margin: 0 .9rem;
}

.contact button {
  background: none;
  border: none;
  margin: 0 .9rem;
}

.contact i {
  color: #fff;
  font-size: 2rem;
}

