* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav {
    display: flex;
    gap: 25px;
}

nav img {
    width: 150px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

li {
    list-style: none;
}

li a {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}